@import url(./reset.css);

@font-face{
    font-family: firaSans;
    src: url("./fonts/FiraSans-Medium.woff");
}

*{
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: firaSans;
    background-color: black;
}
header{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url(./images/nick-night-iukcNL5isUo-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.header-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

header a{
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 20px; 
    text-align: center;
    text-decoration: none;
}

a{
    color: #fff;
}

.header-nav{
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
    padding: 60px 55px 0px 0px;
    width: 100%;
}

.header-nav__link::after{
    content: "";
    border: 0px solid white;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: -4px;
    transition: 1s;
    box-sizing: border-box;
}

.header-nav__link:hover::after{
    border: 2px solid white;
    width: 100%;
}


.header-offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6px;
    padding-left: 100px;
    position: relative;
    height: 100%;
}

.header-title{
    max-width: 600px;
    font-weight: 700;
    font-size: 128px;
}

.header-title2{
    font-weight: 400;
    font-size: 24px;  
}

footer a{
    position: relative;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

footer{
    padding-top: 201px;
    padding-bottom: 350px;
}

.text-On-Image{
    position: absolute;
    right: 13px;
    bottom: 13px;
    font-weight: 800;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-nav{
    display: flex;
    justify-content: center;
    gap: 50px;

}



.line_lang{
    display: inline-block;
    background: #d9d9d9;
    font-weight: 400;
    font-size: 20px;
    width: 2px;
    height: 19px;
    position: relative;
    z-index: 1;
}

.lang_choose{
    display: flex;
    gap: 10px;
}


.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 435px);
    gap: 30px;
    
}

.gallery li{
    transition: 0.5s;
    position: relative;
}

.gallery-text::after{
    content: "Алтайский край - это в Сибири";
    position: absolute;

}

.gallery li:hover{
    transform: scale(1.05);
}

.images{
    width: 100%;
    height: 100%;
}

img {
    filter: blur(0px);
}
   
img:hover {
    transition: 0.5s;
    filter: blur(2px);
}

.menu{
    display: none;
}

.horizont2{
    grid-column: span 2;
}

.horizont3{
    grid-column: span 3;
}

.vertical2{
    grid-row: span 2;
}

.vertical3{
    grid-row: span 3;
}
